<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Meme Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div id="preloader"></div>
    <div class="navbar">
        <h1 id="heading">Reddit - Meme Page</h1>
    </div>
    <div class="container">
        <div class="dropdown" id="categoryForm">
            <ul class="menu-list">
                <li><button type="button" name="category" value="dankmemes" class="btn-shared active">dankmemes</button></li>
                <li><button type="button" name="category" value="crappyoffbrands" class="btn-shared">crappyoffbrands</button></li>
                <li><button type="button" name="category" value="memes" class="btn-shared">memes</button></li>
                <li><button type="button" name="category" value="im14andthisisdeep" class="btn-shared">im14andthisisdeep</button></li>
                <li><button type="button" name="category" value="trippinthroughtime" class="btn-shared">trippinthroughtime</button></li>
                <li><button type="button" name="category" value="4chan" class="btn-shared">4chan</button></li>
                <li><button type="button" name="category" value="pewdiepiesubmissions" class="btn-shared">pewdiepiesubmissions</button></li>
                <li><button type="button" name="category" value="Meanjokes" class="btn-shared">Meanjokes</button></li>
                <li><button type="button" name="category" value="terriblefacebookmemes" class="btn-shared">terriblefacebookmemes</button></li>
                <li><button type="button" name="category" value="nobodyasked" class="btn-shared">nobodyasked</button></li>
                <li><button type="button" name="category" value="puns" class="btn-shared">puns</button></li>
                <li><input type="text" name="category" placeholder="Enter custom category" class="btn-shared custom-category-input"></li>
            </ul>
        </div> 
        <div id="meme-container">
            {% include 'meme_partial.html' %}
        </div>
    </div>    

    <div class="social-footer">
        <h2>Connect with me</h2>
        <div class="social-links">
            <a href="https://github.com/lokranjanp" target="_blank">
                <img src="{{ url_for('static', filename='github.png') }}" alt="GitHub" />
            </a>
            <a href="https://www.linkedin.com/in/lokranjan-p/" target="_blank">
                <img src="{{ url_for('static', filename='linkedin.png') }}" alt="LinkedIn" />
            </a>
            <a href="https://www.instagram.com/loki_bruce" target="_blank">
                <img src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram" />
            </a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='logic.js') }}"></script>
</body>

</html>
