<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Meme Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>{{ meme.title }}</h1>
        <a href="https://reddit.com{{ meme.permalink }}" target="_blank">
            <img src="{{ meme.url }}" alt="{{ meme.title }}">
        </a>
        <div class="footer">
            <p>New meme in <span id="countdown">{{ countdown }}</span> seconds.</p>
            <button class="btn" onclick="refreshPage()"><i class="animation"></i>CLICK FOR NEW MEME!<i class="animation"></i></button>
        </div>
    </div>

    <div class="social-footer">
        <h2>Connect with me</h2>
        <div class="social-links">
            <a href="https://github.com/lokranjanp" target="_blank">
                <img src="{{ url_for('static', filename='github.png') }}" alt="GitHub" />
            </a>
            <a href="https://www.linkedin.com/in/lokranjan-p/" target="_blank">
                <img src="{{ url_for('static', filename='linkedin.png') }}" alt="LinkedIn" />
            </a>
            <a href="https://www.instagram.com/loki_bruce" target="_blank">
                <img src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram" />
            </a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='logic.js') }}"></script>
</body>

</html>
